.carousel-indicators li {
  background-color: #000;
  /* Change the dot color as needed */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1rem;
}

/* Adjust the position of the carousel indicators */
.ads-carousel .carousel-indicators {
  bottom: -20px;
  /* Moves the indicators downwards */
}

/* Custom styling for the active dot */
.carousel-indicators .active {
  background-color: #fff;
  /* Active dot color */
}

.ads-carousel {
  width: 42vw;
  height: 28vw;
  margin-top: 2%;
  display: flex;
  margin-bottom: 20px;
}

.ad-image {
  object-fit: cover;
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.ad-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .ads-carousel {
    width: 93vw;
    height: 240px;
    margin-top: 2%;
    display: flex;
    margin-bottom: 20px;
  }

  .carousel-item img {
    height: 240px;
  }
}

.ads-carousel .carousel-caption {
  bottom: 10px;
  left: 20px;
  text-align: left;
}

.ad-text {
  color: white;
  /* Adjust color if needed */
  font-size: 1rem;
}


/* ================ CSS for the New Ticker ================ */

.news-ticker-wrapper {
  width: 100%;
  height: 28vw !important;
  border-radius: 15px; /* Rounded corners */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-title {
  background-color: #141b7a; /* Solid background for title */
  color: white; /* White text */
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.news-ticker-container {
  width: 100%; 
  height: 100%;
  overflow-y: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
}

.news-ticker {
  display: flex;
  flex-direction: column;
}

.news-item {
  padding: 10px;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.news-item:last-child {
  border-bottom: none;
}
