.event-page-background-image-container {
  background-image: url("/public/events/banner.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 250px; /* Increased height for a more prominent banner */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3%; /* Add margin below the banner */
}

.event-page-banner-h1 {
  color: white;
  font-size: 2.5rem; /* Increase font size for a bolder look */
  margin: 0;
}

.event-page-more-detail {
  width: fit-content;
}

.event-page-more-detail button {
  margin-left: 0 !important;
}

.event-item {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 15px 0;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.event-page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.event-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.event-page-description p {
  font-size: 1rem;
  color: #555;
}

.link-EventPage {
  text-decoration: none;
}

.event-button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.event-button:hover {
  background-color: #0056b3;
}

@media (max-width: 992px) {
  .event-item {
    flex-direction: column;
  }

  .event-page-description p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .event-title {
    font-size: 1.5rem;
  }

  .event-page-section {
    padding: 10px 0;
  }

  .event-image {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .event-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
}
