.footer {
  display: flex;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  padding-bottom: 150px;
}

.footer-column {
  flex: 1;
  padding: 1cap;
  align-items: center;
}

.subscribe-column {
  padding-top: 5px;
  flex: 1.5;
}

.footer-link h5 {
  padding-left: 20%;
}

.logo-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  width: 50px;
  margin-bottom: 0.5rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.newsletter input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 4px;
}

.newsletter button {
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(68, 68, 68, 1) 20%,
    rgba(68, 68, 68, 1) 80%,
    rgba(255, 255, 255, 0)
  );
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 !important;
}

.newsletter button:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(128, 128, 128, 1) 25%,
    rgba(128, 128, 128, 1) 75%,
    rgba(255, 255, 255, 0)
  );
}

.qr-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer-contact-info p {
  font-size: 8px;
}

.footer-contact-info img {
  height: 50px;
  object-fit: cover;
}

.footer-subscription p {
  font-size: 7px;
}

.footer-subscription h6 {
  font-size: 11px;
}

.footer-subscription .form-control {
  font-size: 6px;
}

.mobile-footer-logo {
  object-fit: cover;
}

.footer-subscription .newsletter button {
  width: 100%;
  font-size: 10px;
  border: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(68, 68, 68, 1) 20%,
    rgba(68, 68, 68, 1) 80%,
    rgba(255, 255, 255, 0)
  );
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 !important;
}

.mobile-footer-logo {
  margin-top: -5%;
  margin-bottom: 5%;
}

.footer-info {
  padding: 2% 0;
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 150px;
  }
  .footer-info {
    font-size:8px;
    padding-top: 2%;
  }
  
}
