.form-button-container {
    display: flex;
    justify-content: flex-end;
    /* Aligns button to the right */
}

.sponsor-logo {
    max-width: 150px;
    max-height: 100px;
    margin: 10px;
}

.miss-reg-form-title {
    font-size: 36px;
    color: skyblue;
}

@media (max-width: 768px) {
    .miss-reg-form-title {
        font-size: 24px;
        color: skyblue;
    }
}
