/* Global Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* Add some padding for smaller screens */
}

/* Homepage Background */
.homepage-background {
  align-items: center;
  background-image: url(/public/homepage/bg_clear.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0;
  /* Removed padding for too much "visual breathing room" unless you like Miss Nagatoro */
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 3%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.ad_row-section,
.kol-section {
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Section Spacing */
.products-section {
  margin-bottom: 4rem;
}

.events-section {
  margin-bottom: 0;
  /* Removed high margin for the undermost section */
}

/* Carousel Section */
.ads-section {
  width: 100%;
  padding-top: 1rem;
  padding-left: 0;
  margin-bottom: 1rem;
}

.ads-carousel img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  /* Rounded corners for ad images */
}

.ads-carousel .carousel-caption {
  display: flex;
  bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background: none;
  /* Remove background color */
  color: #fff;
  /* Ensure the text color is visible on the ad image */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  /* Add a slight shadow to ensure text readability */
}

/* KOL Section */
/* Ensure enough space between rows */
/* .kol-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3rem;
} */

.kol-col {
  text-align: center;
  position: relative;
}

.kol-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ddd;
  transition: transform 0.5s ease;
}

.kol-col:hover .kol-image {
  transform: scale(1.1);
}

.home-product-card-link {
  text-decoration: none;
}

.home-event-card-link {
  text-decoration: none;
}

/* Products and Events Section Shared Styles */
.product-card,
.event-card {
  position: relative;
  border: none;
  background-color: transparent;
  box-shadow: none;
  max-width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4%;
  transition: transform 0.5s ease;
}

.product-card {
  height: 280px !important;
}

.product-card img,
.event-card img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  /* Add rounded corners */
}

.product-card .card-body,
.event-card .card-body {
  padding: 10px;
  max-height: 120px;
  overflow: hidden;
}

.product-card .card-title,
.event-card .card-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* Limit title to 3 lines */
}

.product-card .card-text,
.event-card .card-text {
  font-size: 0.9rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* Limit description to 3 lines */
}

.product-price {
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
  font-size: 14px;
}

/* Hover Effects */
.product-card:hover,
.event-card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-more {
  position: relative;
  float: right;
  background-color: transparent;
  border: 1px solid transparent;
  color: #000;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-more:hover {
  transform: translateX(10px); /* Moves 10px to the right on hover */
}

.btn-more:focus {
  outline: none;
}

.btn-navigation {
  background-color: rgba(128, 128, 128, 0.6);
  color: white; 
  border: 2px solid black;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-navigation:hover {
  background-color: transparent;
  color: black; 
}

.btn-navigation:focus {
  outline: none;
}

.home-news-ticker {
  height: 28vw;
  margin-top: 30px;
}

/* Responsive Design */

/* Tablet Screens (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

  .product-card .card-title,
  .event-card .card-title {
    font-size: 0.85rem;
    -webkit-line-clamp: 2;
    /* Limit title to 2 lines */
  }

  .product-card .card-text,
  .event-card .card-text {
    font-size: 0.75rem;
    -webkit-line-clamp: 2;
    /* Limit title to 2 lines */
  }
}

/* Mobile Screens (Max Width: 768px) */
@media (max-width: 768px) {

  .section-title {
    font-size: 1.8rem;
    /* Smaller font for mobile */
  }

  .kol-col {
    margin-bottom: 5%;
  }

  .product-card,
  .event-card {
    height: 270px;
    margin-bottom: 5%;
  }

  .product-card img,
  .event-card img {
    height: 160px;
  }

  .product-card .card-title,
  .event-card .card-title {
    font-size: 0.85rem;
    -webkit-line-clamp: 2;
    /* Limit title to 2 lines */
  }

  .product-card .card-text,
  .event-card .card-text {
    font-size: 0.75rem;
    -webkit-line-clamp: 2;
    /* Limit title to 2 lines */
  }

  .home-news-ticker {
    padding: 0;
    margin: 0 10px 25px 10px;
  }
}
