.nav-link-Login.active{
  text-decoration: underline;
  font-weight: 700;
  text-underline-offset: 50%;
}

.nav-link-Login:hover {
  color:black !important;
}

.nav-link-Login {
  font-size: 30px;
}

.login-in-table {
  padding-top: 2.5%
}

.sign-in-table {
  padding-top: 5%
}

.login-image-display {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.login-image-display.fade-in {
  opacity: 1;
}

.login-image-display.fade-out {
  opacity: 0;
}
