.nav-tabs .nav-link {
  background-color: transparent !important;
  border: none !important;
  /* border-bottom: none !important; */
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: transparent !important;
  border: none !important;
}

.nav-tabs .nav-link:hover {
  background-color: transparent !important;
}

.nav-link:hover {
  color:blue !important
}

.nav-link {
  font-size: 20px;
}

.login-in-table {
  padding-top: 2.5%
}

.sign-in-table {
  padding-top: 5%
}