.profile-container {
    align-items: center;
    min-height: 50vh;
}

.avatar-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-intro-row {
    align-items: center;
    min-height: 50vh;
    width: auto;
}

.profile-avatar {
    height: 275px;
    width: 275px;
}

@media (max-width: 768px) {
    .profile-avatar {
        height: 200px;
        width: 200px;
    }
}
