@import url("https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/theme/classic.css");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.ck-content {
  margin: 0 auto;
  padding: 1em;
  max-width: 100%;
}

.ck-content h1,
.ck-content h2,
.ck-content p {
  text-align: center;
  margin: 1em 0;
}

.ck-content img {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}

.ck-content .image_resized {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.ck-content figure {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: 100%;
  text-align: center;
}

.ck-content ul,
.ck-content ol {
  margin-left: 2em;
}

.ck-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.ck-content::after {
  content: "";
  display: table;
  clear: both;
}

/* image-style-side 样式，确保左右浮动一致 */
.ck-content .image-style-side {
  width: 30% !important;
  margin: 0 1em;
  display: inline-block;
}

@font-face {
  font-family: "HomepageFont";
  src: url("./fonts/YSHST.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HomepageFont", sans-serif !important;
  box-sizing: border-box;
  margin-top: 0;
}

.App-header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.App-header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.App-header nav ul li {
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
  max-width: 50%;
}

.profiles {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #f9f9f9;
}

.feature-image {
  flex: 1;
  max-width: 50%;
}

.feature-text {
  flex: 1;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.logo {
  background: #eaeaea;
  padding: 1rem;
  text-align: center;
}

footer {
  background: #333;
  height: auto;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px; /* 根据 RecentProductsBar 的高度调整 */
}

.footer-column {
  width: 20%;
}

.main-content {
  padding: 0 !important;
  min-height: calc(100vh - 347px);
  margin-top: 50px;
}

.custom-breadcrumb {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

@media (max-width: 768px) {
  .custom-breadcrumb {
    font-size: 12px;
  }
}
