@font-face {
  font-family: 'HomepageFont';
  src: url('./fonts/YSHST.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HomepageFont', sans-serif !important;
  box-sizing: border-box;
  margin-top: 0;
}

.App-header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.App-header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.App-header nav ul li {
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
  max-width: 50%;
}

.profiles {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #f9f9f9;
}

.feature-image {
  flex: 1;
  max-width: 50%;
}

.feature-text {
  flex: 1;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.logo {
  background: #eaeaea;
  padding: 1rem;
  text-align: center;
}

footer {
  background: #333;
  height: auto;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  width: 20%;
}

.main-content {
  padding: 0 !important;
  min-height: calc(100vh - 347px);
}
